.results {

    border: 1px solid #e5e7eb;
    background-color: #f9fafb;
    box-shadow: 5px 7px 8px #d1d5db;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    min-height: 600px;
    padding: 2em 2em:
    
}


.card {
    border: 1px solid #e5e7eb;
    background-color: #f9fafb;
    box-shadow: 5px 7px 8px #d1d5db;
    border-radius: 10px;
    margin-top: 3em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    padding: 2em;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 12px 12px;
    min-width: 320px;
    
}

.card-h3 {

margin-top: 8px;
color: #475569;

}

.card-a {

    margin-top: 4px;
    color: #475569;
    
}

.card-y {

    margin-top: 4px;
    color: #475569;
    
}

.card a:link {

    color: #475569;
    
}

.card a:hover {

    color: #f97316;
    text-decoration: underline;

}
